<header>
    <h1>SM TechBox</h1>
    
</header>
<body>
  <div id="corpo">
<h3>Os seguinte(s) arquivos foram deletado(s) com sucesso:</h3>
<ul>
 {{#each delArray}}
            <li>{{this}}</li>
 {{/each}}
 </ul>
<p>
  <a href="/principal">Voltar para a lista</a>
</p>
</div>
</body>