<!DOCTYPE html>
<html>

<head>
    <title>SM Tech</title>
</head>

<body>

    <form action="/deletado" method="POST" >
        <ul>
            {{#each arquivo}}
            <li>
                <input type="checkbox" id="arquivos"  name="arquivos"  value= "{{this.Key}}" >
                {{this.Key}}

            </li>
            {{/each}}
        </ul>
        <input type="submit" value="Deletar">
    </form>
    <form action="/" enctype="multipart/form-data" method="post">
        <input type="file" name="upload">
        <input type="submit" value="Upload">
    </form>
    
</body>

</html>